.contact-wrapper {
    width: 50dvw;
    grid-column: 1/3;
    justify-self: center;
    border-radius: 1rem;
    padding: 5rem 2rem;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
}

.contact-left {
    height: 500px;
    background: url('../assets/larakielresto.png');
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    border: 0.4rem solid var(--gray-color);
}

.contact-right {
    align-self: center;
    justify-self: center;
}

.contact-right ul {
    list-style: none;
    line-height: 1.8;
}

.contact-right ul li {
    font-size: 1.05rem;
    color: var(--gray-color);
}